{% extends 'base.html.twig' %}

{% block title %}Hello OhLlamaController!{% endblock %}

{% block body %}

<div>
    <h1>
        Blog writer
    </h1>
    <h2>Fill in some keywords to create a blog with this keywords</h2>

    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
