{% extends 'base.html.twig' %}

{% block title %}Welcome to OllamaPHPRompt!{% endblock %}

{% block body %}

<div>
    <h1>
        Create a request
    </h1>
    <h2>Use a <a href="{{ path('app_prompt_type_index') }}">Prompt type</a> with the data you want</h2>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <h2>Available models</h2>
    <p>This models are available:</p>
    <ul>
        {% for model in models %}
            <li>{{ model.name }}</li>
        {% endfor %}
    </ul>
    <p>
        You can set the model in the .env
    </p>
</div>
{% endblock %}
