<footer class="pt-0 p-3 bg-light bg-opacity-25 rounded-2 pt-3">
    <p class="text-center text-body-secondary">Make by Robert van Lienden with help of some awesome contributors. Software available on <a href="https://github.com/robertvanlienden/Ollama-EasyPHPRompt" target="_blank">https://github.com/robertvanlienden/Ollama-EasyPHPRompt</a></p>
</footer>
